.count {
  font-size: 80px;
  color: white;
  font-weight: bold;
  animation: pop 0.9s infinite;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
